<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happytravel.erp.sales.dao.FlightDao">

    <!-- 전체 항공편 목록 조회 -->
    <select id="getFlightList" resultType="kr.happytravel.erp.sales.model.sales.FlightModel" parameterType="hashmap">
        SELECT
        flight_code,
        airline,
        flight_number,
        phone,
        departure,
        departure_time,
        destination,
        arrival_time,
        price,
        is_used
        FROM
        TB_FLIGHT_INFO
        ORDER BY
        flight_code
        <!--        LIMIT #{pageIndex}, #{pageSize}-->
    </select>

    <!-- 전체 목록 카운트 -->
    <select id="getFlightCnt" resultType="int" parameterType="hashmap">
        SELECT COUNT(flight_code)
        FROM TB_FLIGHT_INFO
    </select>

    <!-- 단건 조회 -->
    <select id="selectFlight" resultType="kr.happytravel.erp.sales.model.sales.FlightModel">
        SELECT
        flight_code,
        airline,
        flight_number,
        phone,
        departure,
        departure_time,
        destination,
        arrival_time,
        price,
        is_used
        FROM
        TB_FLIGHT_INFO
        WHERE flight_code = #{flight_code}
    </select>

    <!-- 신규 등록 -->
    <insert id="insertFlight">
        INSERT INTO TB_FLIGHT_INFO (
        flight_code,
        airline,
        flight_number,
        phone,
        departure,
        departure_time,
        destination,
        arrival_time,
        price,
        is_used
        ) VALUES (
        #{flight_code},
        #{airline},
        #{flight_number},
        #{phone},
        #{departure},
        #{departure_time},
        #{destination},
        #{arrival_time},
        #{price},
        #{is_used}
        )
    </insert>

    <!-- 단건 수정 -->
    <update id="updateFlight">
        UPDATE TB_FLIGHT_INFO
        SET
        airline = #{airline},
        flight_number = #{flight_number},
        phone = #{phone},
        departure = #{departure},
        departure_time = #{departure_time},
        destination = #{destination},
        arrival_time = #{arrival_time},
        price = #{price},
        is_used = #{is_used}
        WHERE
        flight_code = #{flight_code}
    </update>

    <!-- 단건 삭제 -->
    <delete id="deleteFlight">
        DELETE FROM TB_FLIGHT_INFO WHERE flight_code = #{flight_code}
    </delete>

</mapper>
