<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happytravel.erp.auth.dao.UserDao">

    <select id="getUserByUsername" parameterType="string" resultType="kr.happytravel.erp.auth.model.UserModel">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="insertUser" parameterType="kr.happytravel.erp.auth.model.UserModel">
        INSERT INTO users (username, password, full_name, email)
        VALUES (#{username}, #{password}, #{fullName}, #{email})
    </insert>

</mapper>
