<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.happytravel.erp.salary.dao.SalaryDao">
	<!-- 급여 항목 조회 -->
	<select id="selectAllSalaryItem" resultType="kr.happytravel.erp.salary.model.SalaryItemModel">
		SELECT * FROM TB_SALARY_ITEM_INFO
	</select>

	<!-- 급여 기본 데이터 추가 -->
	<insert id="insertInitSalaryData" parameterType="list">
		INSERT INTO TB_SALARY_DATA_INFO (
		EMP_ID,
		SALARY_DATE,
		SALARY_ITEM_CODE,
		AMOUNT
		)
		VALUES
		<foreach collection="list" item="salary" separator=",">
			(
			#{salary.empId},
			#{salary.salaryDate},
			#{salary.salaryItemCode},
			#{salary.amount}
			)
		</foreach>
	</insert>
</mapper>